@page "/datasets/{DatasetId:guid}/images/ground-truth/{Id:guid}"

<RadzenStack Style="width:100%">
    @if (ErrorMessage is not null)
    {
        <RadzenAlert AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Shade="Shade.Lighter">
            @ErrorMessage
        </RadzenAlert>
    }
    @if (IsSaving)
    {
        <RadzenAlert AlertStyle="AlertStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter">
            Saving dataset...
        </RadzenAlert>
    }
    @if (Model is not null)
    {
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="12" SizeMD="6">
                <RadzenStack Orientation="Orientation.Vertical">
                    <RadzenRow>
                        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" class="rz-p-4 rz-mb-6 rz-border-radius-1" Style="border: var(--rz-grid-cell-border); width:100%;">
                            <RadzenRow Style="width:100%">
                                <RadzenColumn SizeMD="9">
                                    @if (ImageInfo is not null)
                                    {
                                        <RadzenText TagName="TagName.H4">Width: @ImageInfo.Width, Height: @ImageInfo.Height</RadzenText>
                                    }
                                </RadzenColumn>
                                <RadzenColumn SizeMD="3">
                                    <RadzenStack Orientation="Orientation.Horizontal">
                                        <RadzenNumeric Style="width:90px" Disabled=@(string.IsNullOrEmpty(Base64Image)) Max="90" Min="20" TValue="int" Value=@ResizePercent />
                                        <RadzenButton Disabled=@(string.IsNullOrEmpty(Base64Image)) ButtonStyle=ButtonStyle.Info Click=@Resize Size="ButtonSize.Small" Text="Resize" />
                                    </RadzenStack>
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenStack>
                    </RadzenRow>
                    <RadzenRow>
                        @if (!string.IsNullOrEmpty(Base64Image))
                        {
                            <div style="width:100%;height:500px; overflow:scroll;text-align:right;">
                                <img style="height:@ImageZoomLevel%; width:auto;" src=@Base64Image />
                            </div>
                        }
                    </RadzenRow>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="6">
                <RadzenStack Orientation="Orientation.Vertical">
                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenLabel Text="Name" title="Name" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenTextBox Disabled=@IsSaving Style="width: 100%;" Name="Name" @bind-Value=@Model.DisplayName />
                        </RadzenColumn>
                    </RadzenRow>
                    @if (Model.Fields is not null)
                    {
                        foreach (var field in Model.Fields)
                        {
                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenColumn Size="12" SizeMD="4">
                                    <span>@field.Name</span>
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="6">
                                    <RadzenTextBox Style="width: 100%;" @bind-Value=@field.Value />
                                </RadzenColumn>
                            </RadzenRow>
                        }
                    }
                    <h3>Zoom Level:</h3>
                    <RadzenSelectBar TValue="int" Size="ButtonSize.Small" @bind-Value="@ImageZoomLevel">
                        <Items>
                            <RadzenSelectBarItem Value="100" Text="100 " />
                            <RadzenSelectBarItem Value="150" Text="150" />
                            <RadzenSelectBarItem Value="180" Text="180" />
                            <RadzenSelectBarItem Value="200" Text="200" />
                            <RadzenSelectBarItem Value="300" Text="300" />
                        </Items>
                    </RadzenSelectBar>
                    <RadzenButton Disabled=@(pageCounter == 0) ButtonStyle=ButtonStyle.Light Click=@Previous Size="ButtonSize.Small" Text="Previous" />
                    <RadzenButton Disabled=@(pageSize == 0 || pageCounter == pageSize - 1) ButtonStyle=ButtonStyle.Light Click=@Next Size="ButtonSize.Small" Text="Next" />
                    <RadzenCard>
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Upload image</RadzenText>
                        <InputFile Style="margin-top:5px;" OnChange="@InputFileChange" />
                    </RadzenCard>
                    <RadzenButton Click="@AddTag" ButtonStyle=ButtonStyle.Light Size="ButtonSize.Small" Text="Add Tag" />
                    @if (Model.Tags is not null)
                    {
                        foreach (var tag in Model.Tags)
                        {
                            <RadzenCard>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="6">
                                        <RadzenTextBox Style="width: 100%;" @bind-Value=@tag.Name />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="6">
                                        <RadzenTextBox Style="width: 100%;" @bind-Value=@tag.Value />
                                    </RadzenColumn>
                                </RadzenRow>
                            </RadzenCard>
                        }
                    }
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
            <RadzenRow Style="width:100%">
                <RadzenColumn SizeMD="9"></RadzenColumn>
                <RadzenColumn SizeMD="3">
                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" Class="rz-mt-8 rz-mb-4">
                        <RadzenButton Disabled=@IsSaving ButtonStyle="ButtonStyle.Primary" Click=@(async()=>await SaveAsync()) Size="ButtonSize.Large" Icon="save" Text="Save" />
                        <RadzenButton Disabled=@IsSaving ButtonStyle=ButtonStyle.Light Click=@Cancel Size="ButtonSize.Large" Text="Cancel" />
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
        </RadzenRow>
    }
</RadzenStack>
